html{
    box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    
    
}
body{
     margin: 0;
 }


body{
    background-image: url('../photos/activity\ page.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
 }
 section{
     display: block;
 }

 ul {
    list-style-type: none;
    margin-left:  201px; ;
    padding: 5px;
    overflow: hidden;
    background-color: rgba(135, 192, 209, 0.986);
    font-size: medium;
    font-family: cursive;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  .active {
    background-color: #2691c7;
    
  }
  .logo img{
  position: absolute;
  margin-top: 0px;
  margin-left: 10px;
  margin-left: 0px;

}
.image img{
    max-width: 100%;
    min-height: 600px;
}
.into{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
  }
  .into p{
    max-width: 55%;
    font-size: large;
    border :1% solid green;
    padding-left: 5%;
    
    
  }
  .into img{
      max-width: 25%;
      height: 25%;
      padding-left: 2%;
  }
  .log{
    text-align: center;
    color: rgba(46, 45, 45, 0.873);
    font-size: xx-large;
  }
  .si{
    font-size: large;
  }
  .container2 .p1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .container2 .p1 img{
      width: 20%;
      padding-left: 2%;
  }
  .container2 .p1 p{
    font-size: large;
    border :1% solid green;
    padding-left: 5%;
    
  }
  .container2 .p2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .container2 .p2 img{
      max-width: 15%;
      height: 25%;
      padding-left: 2%;
  }
  .container2 .p2 p{
    font-size: large;
    max-width: 55%;
    border :1% solid green;
    padding-left: 5%;
    
  }
  .for a{
    font-size: large;
    position: relative;
    padding: 14px 25px;
    max-width: 25%;
    min-height: 50%;
    background: #d0efea;
    margin-left: 25%;
    box-sizing: border-box;
    display: inline-block;
    margin-top: 5%
    
    
    
  }
  .container3 .p3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .container3 .p3 img{
      padding-left: 2%;
      width: 50%;
  }
  .container3 .p3 p{
    font-size: large;
    border :1% solid green;
    padding-left: 5%;
    
  }
  .container3 .kunckles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .container3 .kunckles img{
      max-width: 25%;
      height: 25%;
      padding-left: 2%;
  }
  .container3 .kunckles p{
    max-width: 55%;
    font-size: large;
    border :1% solid green;
    padding-left: 5%;
    
  }
 
  .container3 .piduruthlagala{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .container3 .piduruthlagala img{
      max-width: 25%;
      height: 25%;
      padding-left: 2%;
  }
  .container3 .piduruthlagala p{
    max-width: 55%;
    font-size: large;
    border :1% solid green;
    padding-left: 5%;
    
  }
  .container3 .adam{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .container3 .adam img{
      max-width: 25%;
      height: 25%;
      padding-left: 2%;
  }
  .container3 .adam p{
    max-width: 55%;
    font-size: large;
    border :1% solid green;
    padding-left: 5%;
    
  }
  .container3 .worlds{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .container3 .worlds img{
      max-width: 25%;
      height: 25%;
      padding-left: 2%;
  }
  .container3 .worlds p{
    max-width: 55%;
    font-size: large;
    border :1% solid green;
    padding-left: 5%;
    
  }

   .safari{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

   .safari img{
      width: 25%;
      padding-left: 2%;
  }
   .safari p{
    max-width: 55%;
    font-size: large;
    border :1% solid green;
    padding-left: 5%;
    
  }
  .for{
    position: relative;
    width: 90%;
    min-height: 80%;
    background: #dadedea7;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
  }
  p{
    font-size: large;
  }
  h2,h3{
    text-align: center;
    font-size: x-large;
  }
  h1,h2,h3{
    animation: animate 1.5s linear ;
  }
  @keyframes animate{
    0%{transform: translateY(0px)}
    10%{transform: translateY(-30px);}
    15%{transform: translateY(15%);}
  }
  
  @media (max-width:40em){
    .for{
      display: block;
    }
  }
  

  footer{
    position: fixed;
    bottom: 0;
  }
  
  @media (max-height:800px){
    footer { position: static; }
    header { padding-top:40px; }
  }
  

  .about{
    background-color: #6d6970;
    box-sizing: border-box;
    max-width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 10%;
  }
  
  .about .left,
  .about .center,
  .about .right{
    display: inline-block;
    vertical-align: top;
  }

  
  /* Footer Center */
  
  .about .center{
    max-width: 15%;
  }
  
  
  .about .center i{
    background-color:  #474849;
    color: #ffffff;
    font-size: 25px;
    max-width: 20%;
    min-height: 25%;
    border-radius:12%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  
  .about .center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
  }
  
  .about .center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
  }
  
  .about .center p a{
    color:  #e0ac1c;
    text-decoration: none;;
  }
  
  
  
  
  .about .right{
    max-width: 30%;
  }
  
  .about .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  
  .about .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .about .resources{
    max-width: 30%;
  }
  
  .about .resources{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  
  .about .resources{
    display: block;
    color:  #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
  }